In [1]:
import pandas as pd

In [2]:
filename = './../data/memberInfo.csv'
df = pd.read_csv(filename, index_col='id')
df

     kor  eng
id
김철수   60   70
홍길동   70   75
박영희   80   80

In [4]:
print('시리즈와 apply 메서드')

시리즈와 apply 메서드

In [5]:
print( '일반적인 산술 연산' )
df['kor'] + 5

일반적인 산술 연산

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [6]:
def plus5(x):
    return x + 5

In [7]:
print('apply 함수를 적용한 결과')
sq = df['kor'].apply(plus5) 
sq

apply 함수를 적용한 결과

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [8]:
def gob(x, n):
    return n * x

In [9]:
ex = df['kor'].apply(gob, n=2) 
ex

id
김철수    120
홍길동    140
박영희    160
Name: kor, dtype: int64

In [10]:
ex = df['kor'].apply(gob, n=3) 
ex

id
김철수    180
홍길동    210
박영희    240
Name: kor, dtype: int64

In [11]:
def applyByColumn(col):
    mysum = 0
    for item in col:
        mysum += item
    return mysum / df.shape[0]

In [12]:
df.apply(applyByColumn, axis = 0)

kor    70.0
eng    75.0
dtype: float64

In [13]:
def applyByRow(row):
    mysum = 0
    for item in row:
        mysum += item
    return mysum / df.shape[1]

In [14]:
df.apply(applyByRow, axis = 1)

id
김철수    65.0
홍길동    72.5
박영희    80.0
dtype: float64