In [1]:
# 필요한 라이브러리를 불러옵니다.
import pandas as pd
import numpy as np

In [2]:
# 크롤링으로 가져올 url 주소를 입력합니다.
url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"

In [3]:
table = pd.read_html(url)
len(table)

6

In [4]:
table[0].T

         0    1     2     3    4
종로구    555    0   마포구   948   +2
중구     444   +3   양천구  1085   +3
용산구    756   +5   강서구  1651   +1
성동구    705   +3   구로구  1019   +9
광진구    735   +2   금천구   465   +3
동대문구  1024  +12  영등포구  1050   +7
중랑구   1169   +4   동작구  1158   +1
성북구   1227   +4   관악구  1368  +14
강북구    740   +4   서초구  1076   +2
도봉구    880   +6   강남구  1278   +2
노원구   1207   +4   송파구  1566   +1
은평구   1137   +2   강동구   920   +7
서대문구   758   +2    기타  3319  +17

In [20]:
table[1]

     종로구    중구   용산구   성동구   광진구  동대문구
0    555   444   756   705   735  1024
1      0    +3    +5    +3    +2   +12
2    중랑구   성북구   강북구   도봉구   노원구   은평구
3   1169  1227   740   880  1207  1137
4     +4    +4    +4    +6    +4    +2
5   서대문구   마포구   양천구   강서구   구로구   금천구
6    758   948  1085  1651  1019   465
7     +2    +2    +3    +1    +9    +3
8   영등포구   동작구   관악구   서초구   강남구   송파구
9   1050  1158  1368  1076  1278  1566
10    +7    +1   +14    +2    +2    +1
11   강동구    기타   NaN   NaN   NaN   NaN
12   920  3319   NaN   NaN   NaN   NaN
13    +7   +17   NaN   NaN   NaN   NaN

In [16]:
table[2].T

                        0
소계                  28240
해외유입                  930
관악구 지인·직장 관련           22
용산구 소재 지인모임 관련        202
구로구 소재 체육시설 관련         52
광진구 지인 모임 관련           13
강동구 소재 사우나 관련          30
양천구 가족·직장 관련           14
서초구 소재 의료기관(2월)관련      11
송파구 소재 요양병원(2월) 관련      5
기타 집단 감염            10104
기타 확진자 접촉            9058
타시도 확진자 접촉           1233
감염경로 조사중             6566

In [25]:
table

[   종로구    중구   용산구   성동구  광진구  동대문구   중랑구   성북구   강북구   도봉구   노원구   은평구  서대문구
 0  555   444   756   705  735  1024  1169  1227   740   880  1207  1137   758
 1    0    +3    +5    +3   +2   +12    +4    +4    +4    +6    +4    +2    +2
 2  마포구   양천구   강서구   구로구  금천구  영등포구   동작구   관악구   서초구   강남구   송파구   강동구    기타
 3  948  1085  1651  1019  465  1050  1158  1368  1076  1278  1566   920  3319
 4   +2    +3    +1    +9   +3    +7    +1   +14    +2    +2    +1    +7   +17,
      종로구    중구   용산구   성동구   광진구  동대문구
 0    555   444   756   705   735  1024
 1      0    +3    +5    +3    +2   +12
 2    중랑구   성북구   강북구   도봉구   노원구   은평구
 3   1169  1227   740   880  1207  1137
 4     +4    +4    +4    +6    +4    +2
 5   서대문구   마포구   양천구   강서구   구로구   금천구
 6    758   948  1085  1651  1019   465
 7     +2    +2    +3    +1    +9    +3
 8   영등포구   동작구   관악구   서초구   강남구   송파구
 9   1050  1158  1368  1076  1278  1566
 10    +7    +1   +14    +2    +2    +1
 11   강동구    기타   NaN   NaN   NaN   NaN
 12   920  3319   NaN   NaN   NaN   NaN
 13    +7   +17   NaN   NaN   NaN   NaN,
       소계  해외유입  관악구 지인·직장 관련  용산구 소재 지인모임 관련  구로구 소재 체육시설 관련  광진구 지인 모임 관련  \
 0  28240   930            22             202              52            13

    강동구 소재 사우나 관련  양천구 가족·직장 관련  서초구 소재 의료기관(2월)관련  송파구 소재 요양병원(2월) 관련  \
 0             30            14                 11                   5

    기타 집단 감염  기타 확진자 접촉  타시도 확진자 접촉  감염경로 조사중
 0     10104       9058        1233      6566  ,
 Empty DataFrame
 Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
 Index: [],
 Empty DataFrame
 Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
 Index: [],
                     일                   월                   화  \
 0                 NaN   1  24,271  (+109)   2  24,397  (+126)
 1   7  25,170  (+143)   8  25,281  (+111)    9  25,372  (+91)
 2  14  26,176  (+151)  15  26,325  (+149)  16  26,486  (+161)
 3  21  27,361  (+124)  22  27,474  (+113)  23  27,591  (+117)
 4  28  28,240  (+120)                 NaN                 NaN

                     수                   목                   금  \
 0   3  24,587  (+190)   4  24,757  (+170)   5  24,882  (+125)
 1  10  25,547  (+175)  11  25,731  (+184)  12  25,894  (+163)
 2  17  26,744  (+258)  18  26,932  (+188)  19  27,106  (+174)
 3  24  27,735  (+144)  25  27,857  (+122)  26  27,989  (+132)
 4                 NaN                 NaN                 NaN

                     토
 0   6  25,027  (+145)
 1  13  26,025  (+131)
 2  20  27,237  (+131)
 3  27  28,120  (+131)
 4                 NaN  ]