In [32]:
import pandas as pd

In [33]:
filename = './../data/memberInfo_exam.csv'
df = pd.read_csv(filename, index_col='이름')
df

      중간  기말
이름
강감찬   60  70
을지문덕  70  75

In [34]:
def sungjuk(x):
    result = ''
    if x >= 90 :
        result = '수'
    elif x >= 80 :
        result = '우'    
    elif x >= 70 :
        result = '미'    
    elif x >= 60 :
        result = '양'    
    else:
        result = '가'            
    return result

In [35]:
sq = df['중간'].apply(sungjuk) 
sq

이름
강감찬     양
을지문덕    미
Name: 중간, dtype: object