In [38]:
import numpy as np 
import pandas as pd

In [51]:
myindex = ['김구', '이봉창', '안중근', '윤봉길']
mycolumns = ['강남구', '은평구', '마포구', '용산구']
mylist = list( 10 * onedata for onedata in range(1, 17))
myframe = pd.DataFrame( np.reshape(mylist, (4, 4)), index=myindex, columns = mycolumns  )
myframe

     강남구  은평구  마포구  용산구
김구    10   20   30   40
이봉창   50   60   70   80
안중근   90  100  110  120
윤봉길  130  140  150  160

In [41]:
result = myframe.iloc[1]
result

강남구    50
은평구    60
마포구    70
용산구    80
Name: 이봉창, dtype: int32

In [42]:
result = myframe.iloc[[1,3]]
result

     강남구  은평구  마포구  용산구
이봉창   50   60   70   80
윤봉길  130  140  150  160

In [43]:
result = myframe.loc[['윤봉길']]
result

     강남구  은평구  마포구  용산구
윤봉길  130  140  150  160

In [44]:
result = myframe.loc[['이봉창', '윤봉길']]
result

     강남구  은평구  마포구  용산구
이봉창   50   60   70   80
윤봉길  130  140  150  160

In [45]:
result = myframe.loc[['윤봉길'], ['은평구']] # DataFrame
result

     은평구
윤봉길  140

In [46]:
result = myframe.loc[['김구', '이봉창'], ['용산구', '은평구']]
result

     용산구  은평구
김구    40   20
이봉창   80   60

In [47]:
result = myframe.loc[ myframe['은평구'] <= 100 ]
result

     강남구  은평구  마포구  용산구
김구    10   20   30   40
이봉창   50   60   70   80
안중근   90  100  110  120

In [48]:
result = myframe.loc[ myframe['은평구'] == 100 ]
result

     강남구  은평구  마포구  용산구
안중근   90  100  110  120

In [49]:
myframe.loc['김구':'안중근', ['용산구']] = 80
myframe

     강남구  은평구  마포구  용산구
김구    10   20   30   80
이봉창   50   60   70   80
안중근   90  100  110   80
윤봉길  130  140  150  160

In [50]:
myframe

     강남구  은평구  마포구  용산구
김구    10   20   30   80
이봉창   50   60   70   80
안중근   90  100  110   80
윤봉길  130  140  150  160