In [11]:
import pandas as pd

In [12]:
dict1 = {'이름':['유관순', '유관순', '황진이', '황진이', '유관순'], '중간': [10*idx for idx in range(1, 6)]}
df1 = pd.DataFrame(dict1)
df1

    이름  중간
0  유관순  10
1  유관순  20
2  황진이  30
3  황진이  40
4  유관순  50

In [13]:
dict2 = {'이름':['황진이', '유관순', '신사임당'], '기말':[10*idx for idx in range(3, 6)]}
df2 = pd.DataFrame(dict2)
df2

     이름  기말
0   황진이  30
1   유관순  40
2  신사임당  50

In [14]:
pd.merge(df1, df2, on='이름')

    이름  중간  기말
0  유관순  10  40
1  유관순  20  40
2  유관순  50  40
3  황진이  30  30
4  황진이  40  30

In [10]:
pd.merge(df1, df2, how='outer')

     이름    중간  기말
0   유관순  10.0  40
1   유관순  20.0  40
2   유관순  50.0  40
3   황진이  30.0  30
4   황진이  40.0  30
5  신사임당   NaN  50