In [30]:
import pandas as pd

In [31]:
myindex = ['서울', '부산', '광주', '대구', '울산', '목포', '여수']
mylist = [50, 60, 40, 80, 70, 30, 20]
myseries = pd.Series(data=mylist, index=myindex)
myseries

서울    50
부산    60
광주    40
대구    80
울산    70
목포    30
여수    20
dtype: int64

In [32]:
# 색인의 이름으로 값 읽기
myseries[['대구']]

대구    80
dtype: int64

In [33]:
# 라벨 이름으로 슬라이싱
myseries['대구':'목포']

대구    80
울산    70
목포    30
dtype: int64

In [34]:
# 여러 개의 색인 이름으로 데이터 읽기
myseries[['대구', '여수']]

대구    80
여수    20
dtype: int64

In [35]:
# 정수를 이용한 데이터 읽기
myseries[[2]]

광주    40
dtype: int64

In [36]:
# 0, 2, 4번째 데이터 읽기
myseries[0:5:2]

서울    50
광주    40
울산    70
dtype: int64

In [37]:
# 1, 3, 5번째 데이터 읽기
myseries[[1, 3, 5]]

부산    60
대구    80
목포    30
dtype: int64

In [38]:
# 슬라이싱 사용하기
myseries[3:6] # from <= 결과 < to

대구    80
울산    70
목포    30
dtype: int64

In [39]:
myseries[2] = 22 # 2번째 항목의 값 변경
myseries[2:5] = 33 # 2번째부터 4번째 까지 항목의 값 변경
myseries[['서울', '대구']] = 55 # 서울과 대구만  55로 변경
myseries[0::2] = 77 # 짝수 행만  77로 변경

In [40]:
# 시리즈 내용 확인
myseries

서울    77
부산    60
광주    77
대구    55
울산    77
목포    30
여수    77
dtype: int64